{% extends 'layout/base.html' %}

{% load static %}

{% block 'extrastyles' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block 'content' %}
    <div class="container">
        <h1>TESTING</h1>
    </div>


    {% block 'extrascripts' %}
    <!-- get real-time last alert -->
    <script>
        function updateUltima() {
            // Send a WhatsApp message
            $.ajax({
                url: 'send/',
                success: function(response) {
                    console.log("Connection done");
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ': ' + xhr.responseText);
                }
            });
        }

        $(document).ready(function() {
            updateUltima();
            setInterval(updateUltima, 10000);
        });
    </script>
    {% endblock %}


{% endblock %}
