
{% extends 'layout/base.html' %}

{% block 'pagetitle' %} Logs {% endblock %}

{% block 'content' %}


<div class="container p-5 my-4">
    <div class="mb-3 d-flex flex-row-reverse">
        <a class="btn btn-light shadow  " href="{% url 'log_download' %}" download> Descargar historial</a> 
        <a class="btn btn-light shadow me-3" href="{% url 'index' %}" id="start">  Volver </a>

    </div>

    <div class="card p-4">
            <div class="card-body">
            <div class="row">
                <div class="col-12 pt-5">               

                    <h2> Mensajes enviados <i class="bi bi-whatsapp text-success fs-2 ms-3"></i></h2>
                    <br>
                    {% for entry in page_obj %}
                    <div>
                        <p>Fecha: {{ entry.date }}</p>
                        <p>Hora: {{ entry.time }}</p>
                        <p>Group ID: {{ entry.group_id }}</p>
                        <p>Mensaje: {{ entry.message }}</p>
                    </div>
                    <hr>
                    {% endfor %}

                        <div class="d-flex flex-row-reverse">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="page-item">

                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a>
                                </li>  
                                {% endif %}

                                <li class="page-item">
                                    <a class="page-link">{{ page_obj.number }}</a>

                                </li>

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a>
                                    </li>
                                {% endif %}
                                </ul>
                            </nav>
                        </div>

                </div>
            </div>
      </div>
    </div>       
</div>   
{% endblock %}


    


