{% extends 'layout/base.html' %}


{% block 'extrastyles' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}

{% block 'pagetitle' %} Alerts {% endblock %}

{% block 'content' %}
    

    <div class="container p-5">

        <div class="card p-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-8 pt-5">
                        <h2> BOT <i class="bi bi-whatsapp text-success fs-2 ms-3"></i></h2>
                        <br>
                        <p id="texto">Presiona el botón para activar las notificaciones por WhatsApp</p>
                    
                        <a class="btn btn-light shadow px-5 ms-5 fs-3 my-5 " href="#" id="start">  Iniciar sincronización </a>


                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <div class="text-center">
                            <div id="spin" class="" role="status">
                            </div>
                          </div>
                    </div>
                </div>

          </div>
        </div>

    </div>



{% endblock %}






{% block 'extrascripts' %}
  <!-- get real-time last alert and send wsp message -->
  <script>
    let stopScript = false;
    let intervalId;

    function updateUltima() {
      if (stopScript) {
        return; 
      }

      $.ajax({
        url: 'send/',
        success: function(response) {},
        error: function(xhr, errmsg, err) {
          console.log(xhr.status + ': ' + xhr.responseText);
        }
      });
    }

    $(document).ready(function() {
      
      function startUpdate() {
        $("#start")
          .removeClass('btn-light shadow')
          .addClass('btn-outline-info btn-lg')
          .text('Conectado...');
        $("#spin")
        .addClass('spinner-border text-info');

        setTimeout(function() {

          $("#start")
            .removeClass('btn-outline-info')
            .addClass('btn-outline-danger')
            .text('Detener');

          $("#spin")
              .removeClass('spinner-border text-info')
              .addClass('spinner-grow');

          $("#texto")
              .text('Conexión activada');
          
        }, 3000);


        updateUltima();
        intervalId = setInterval(updateUltima, 15000);
      }


      function stopUpdate() {
        $("#start")
          .removeClass('btn-outline-danger btn-lg')
          .addClass('btn-light shadow')
          .text('Iniciar sincronización');
        $("#spin")
          .removeClass('spinner-grow');
        $("#texto")
          .text('Presiona el botón para activar las notificaciones por WhatsApp');

        stopScript = true; 
        clearInterval(intervalId); 
      }

      

      $("#start").click(function(event) {
        event.preventDefault();

        if ($(this).hasClass('btn-light shadow')) {
          startUpdate();
        } else if (!$(this).hasClass('btn-light shadow')) {
          stopUpdate();      }      
               
      });
    });
  </script>

{% endblock %}
    


