{% extends 'layout/base.html' %}


{% block 'extrastyles' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}

{% block 'pagetitle' %} Alerts {% endblock %}
{% block 'breadcrumb' %}          
<li class="breadcrumb-item">Components</li>
<li class="breadcrumb-item active">Alerts</li>
{% endblock %}


{% block 'content' %}
    

      <div class="container p-5">

        <div class="card p-4">
          <div class="card-body text-center">
            <a class="btn btn-light shadow px-4 fs-3 my-5" href="#" id="start">  Iniciar sincronización </a>
          </div>
        </div>

      </div>
  {% endblock %}

  {% block 'extrascripts' %}
 <!-- get real-time last alert -->
<script>
  let stopScript = false;
  let intervalId;

  function updateUltima() {
    if (stopScript) {
      return; 
    }

    $.ajax({
      url: 'send/',
      success: function(response) {},
      error: function(xhr, errmsg, err) {
        console.log(xhr.status + ': ' + xhr.responseText);
      }
    });
  }

  $(document).ready(function() {
    function startUpdate() {
      $("#start")
        .removeClass('btn-light shadow')
        .addClass('btn-outline-info btn-lg')
        .text('Conectado...');

      setTimeout(function() {
        $("#start")
          .removeClass('btn-outline-info')
          .addClass('btn-outline-danger btn-lg px-5')
          .text('Detener');
      }, 3000);

      updateUltima();
      intervalId = setInterval(updateUltima, 15000);
    }

    function stopUpdate() {
      $("#start")
        .removeClass('btn-outline-danger btn-lg px-5')
        .addClass('btn-light shadow')
        .text('Iniciar sincronización');

      stopScript = true; 
      clearInterval(intervalId); 
    }

    $("#start").click(function(event) {
      event.preventDefault();

      if ($(this).hasClass('btn-light shadow')) {
        startUpdate();
      } else if (!$(this).hasClass('btn-light shadow')) {
        stopUpdate();
      }
      
      
      
    });
  });
</script>

  {% endblock %}
    


